name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  determine-changes:
    name: Determine changed files
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.changed-files.outputs.src_any_changed }}
      doc: ${{ steps.changed-files.outputs.doc_any_changed }}
      test: ${{ steps.changed-files.outputs.test_any_changed }}
      workflow: ${{ steps.changed-files.outputs.workflow_any_changed }}
      python: ${{ steps.changed-files.outputs.python_any_changed }}

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Determine changed files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        id: changed-files
        with:
          files_yaml: |
            src:
              - src/**
            doc:
              - '**/**.md'
              - docs/**
            test:
              - tests/**
              - '!tests/**.md'
              - .github/workflows/ci.yaml
            workflow:
              - .github/workflows/**
            python:
              - '**/**.py'
              - 'pyproject.toml'
              - '.python-version'
              - 'uv.lock'

  lint-gh-actions:
    name: Lint GitHub Actions
    needs: determine-changes
    if: ${{ needs.determine-changes.outputs.workflow == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0 # v1.68.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_level: error

  lint-python:
    name: Lint Python
    needs: determine-changes
    if: ${{ needs.determine-changes.outputs.python == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1

      - name: Set up ruff using uv
        run: |
          uv sync --only-group lint

      - name: Check tools version
        run: |
          uv --version
          uv run ruff --version

      - name: Lint with Ruff
        run: |
          uv run ruff check . --output-format=github

  check-spelling:
    name: Check spelling
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Check spelling
        uses: crate-ci/typos@85f62a8a84f939ae994ab3763f01a0296d61a7ee # v1.36.2
        with:
          files: |
            .
            .github/**

  pytest:
    name: Run Pytest
    needs: determine-changes
    if: ${{ needs.determine-changes.outputs.python == 'true' || needs.determine-changes.outputs.test == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1

      - name: Set up Python environment using uv
        run: |
          uv sync --no-dev --group testing

      - name: Check tools version
        run: |
          uv --version
          uv run pytest --version

      - name: Test with Pytest
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        run: |
          set -o pipefail
          uv run pytest --junitxml=pytest.xml --cov-report=term-missing --cov=src tests/ | tee pytest-coverage.txt

      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@1bdbba85fb74a2fdc1ec66383acec1091610f82b # v1.1.57
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
